

.sideNavbar-content-wrapper{
  padding: 20px;
  color: #fff;
}

/* components/DashboardMenu Styling */

.sideNavbar-menu{
  margin-bottom: 20px;
}

.sideNavbar-menu .menu-title{
  font-size: 20px;
  color: #ecf0f1;
  border-bottom: 2px solid #5155a1;
  padding-bottom: 5px;
}

.sideNavbar-menu .sideNavbarList{
  padding: 5px; 
}

.sideNavbarList .sideNavbarListItem{
   padding: 5px;
   margin-bottom: 3px;
   display: flex;
   align-items: center;
   cursor: pointer;
   border-radius: 5px;
   transition: 0.5s all;
}

.sideNavbarList .sideNavbarListItem:hover,
.sideNavbarList .sideNavbarListItem.active{
  padding-left: 7px;
  background: rgba(255, 255, 255, 0.193);
}

.sideNavbarListItem .sideNavbarIcon{
  margin-right: 6px;
  font-size: 25px !important;
}

.link{
  color: white;
}