.productEdit-title-section {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.editProduct-main-title{
  font-size: 33px;
  font-weight: 600;
  color: #3e4044;
  border-bottom: 1px solid rgba(200, 200, 200, 0.531);
  padding-bottom: 5px;
}

.productAdd-btn {
 width: 150px;
 color: #ffffff;
 background: #e74c3c;
 border: 1px solid #e74c3c;
}

.productAdd-btn:hover {
 background: #ffffff00;
 color: #e74c3c;
}

.productEdit-top-section {
 display: flex;
}

.productEdit-left-section {
 flex: 4;
}

.productEdit-right-section {
 flex: 1;
 margin: 30px 20px;
 padding: 50px;
 box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
 border-radius: 10px;
}

.productEdit-img {
 width: 100px;
 height: 100px;
 /* border-radius: 50%; */
 object-fit: cover;
}

.productEdit-info-Top {
 display: flex;
 align-items: center;
}

.productEdit-name {
 font-size: 22px;
 font-weight: 600;
 margin-left: 5px;
}

.productEdit-info-Bottom {
 margin-top: 30px;
}

.productEdit-info-item {
 font-size: 16px;
 width: 250px;
 display: flex;
 justify-content: space-between;
 margin-bottom: 3px;
}

.productEdit-info-key {
 font-weight: 600;
}
.productEdit-info-value {
 font-weight: 500;
}

/* -- Bottom Section  */

.productEdit-bottom-section {
 padding: 20px;
 margin: 20px;
 box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.productEdit-form {
 display: flex;
 justify-content: space-between;
}

.productEdit-form-left {
 display: flex;
 flex-direction: row;
}

.productEdit-form-item {
 display: flex;
 flex-direction: column;
}

.productEdit-from-section {
 margin-right: 40px;
}

.productEdit-form-item label {
 font-size: 18px;
 margin-bottom: 5px;
 color: rgb(114, 114, 114);
}

.productEdit-form-item input {
 color: #16a085;
 font-weight: 600;
 width: 500px;
 margin-bottom: 10px;
 border: 1px solid rgb(207, 207, 207);
 padding: 12px;
 border-radius: 5px;
}

.productEdit-form-item input:focus {
 outline: none;
}

.productEdit-form-item select {
 color: #16a085;
 font-weight: 600;
 margin-bottom: 10px;
 border: 1px solid rgb(207, 207, 207);
 padding: 8px;
 border-radius: 5px;
}

.small-title{
  font-size: 13px;
  color: gray;
}

.productEdit-form-item option {
 font-size: 16px;
}

.productEdit-form-item select:focus {
 outline: none;
}

.productEdit-form-right {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.productEdit-upload-img {
 width: 140px;
 height: 140px;
 object-fit: cover;
}

.productEdit-upload {
 display: flex;
 align-items: flex-end;
}

.productEdit-btn {
  padding: 12px 44px;
 width: 200px;
 color: #ffffff;
 background: #16a085;
 border: 1px solid #16a085;
}

.productEdit-btn:hover {
 background: #ffffff00;
 color: #16a085;
}
