* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body {
 font-family: "Source Sans Pro", sans-serif;
 color: #353b48;
}

li {
 list-style: none;
}

a {
 text-decoration: none;
 color: inherit;
}

.green-bg {
 background-color: #12a04d !important;
}

.red {
 color: #e74c3c;
}
.green {
 color: #27ae60;
}

/* Scroll bar style */
::-webkit-scrollbar {
 width: 7px;
 height: 5px;
}
::-webkit-scrollbar-track {
 background: #282c3400;
 border-radius: 0px;
 /* box-shadow: inset 7px 0px 12px #282c34; */
}
::-webkit-scrollbar-thumb {
 background: #30336b;
 border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
 background: #929292;
}
